---
---
<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CMS | Автотрейдінг Інвест</title>
  </head>
  <body>
    <script is:inline src="https://unpkg.com/@sveltia/cms@0.158.1/dist/sveltia-cms.js"></script>
  </body>
</html>
